<div class = "fondo">
    <div class="section" id="contact">
        <div class="cc-contact-information">
          <div class="container">
            <div class="cc-contact">
              <div class="row">
                <div class="col-md-9">
                  <div class="card mb-0" data-aos="zoom-in">
                    <div class="h4 text-center title texto contactame">Contactame!</div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card-body">
                          <form name="form">
                            <div class="p pb-3 texto">
                              <strong>Enviame tu mensaje</strong>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="input-group">
                                  <input class="form-control" type="text" name="name" #name placeholder="Nombre"/>
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="input-container">
                                  <input class="form-control" type="text" name="subject" #subject placeholder="Motivo"/>
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="input-group">
                                  <input class="form-control" type="text" name="email"  #email placeholder="E-mail"/>
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="form-group">
                                  <textarea class="form-control" name="message" #message placeholder="Tu mensaje"></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <button class="btn btn-primary texto" type="submit"> Send</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card-body">
                            <p class="mb-0 texto">
                                <strong>Email</strong>
                            </p>
                            <p class = "texto">rondonjr3@gmail.com</p>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
