<div class = "fondo">
    <footer class="footer">
        <div class="container text-center">
            <a  href="https://www.facebook.com/jesusrodolfo.rondon" class = "efecto_mouse"><img src="../../../assets/logos_header/facebook.png" height="60px" class = "redesSociales"></a>
            <a  href="https://www.instagram.com/rodolfo_rondonp" class = "efecto_mouse"><img src="../../../assets/logos_header/instagram.png" height="60px" class = "redesSociales"></a>
            <a  href="https://twitter.com/RONDONjrp" class = "efecto_mouse"><img src="../../../assets/logos_header/twitter.png" height="60px" class = "redesSociales"></a>
            <a  href="https://github.com/rondonjr3" class = "efecto_mouse"><img src="../../../assets/logos_header/github.png" height="60px" class = "redesSociales"></a>
            <a  href="https://www.linkedin.com/in/jesus-rodolfo-rondon-parra-21729957/" class = "efecto_mouse"><img src="../../../assets/logos_header/linkedin.png" height="60px" class = "redesSociales"></a>
        </div>
        <p></p>
        <div class="text-center">
            <p>Created by Jesus Rodolfo Rondon</p>
        </div>
    </footer>
</div>
