.navbar, .navbar-expand-lg{
    background-color: #585a5d;
}

.redesSociales{
    float: right;
    margin-top: 25%;
    padding: 5px;
}


.efecto_mouse {
    display: inline-block;
    position: relative;
    color: blanchedalmond;
    text-decoration: none;
    }
    .efecto_mouse:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
    }
    .efecto_mouse:hover:after {
    width: 100%;
    background: blue;
    }

.boton-costado{
    padding: 4px;
}
