<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../../assets/logos_header/APLogo.png"  height="100px"></a>
        <div class = "d-flex">

            <a  href="https://www.facebook.com/jesusrodolfo.rondon" class = "efecto_mouse"><img src="../../../assets/logos_header/facebook.png" height="40px" class = "redesSociales"></a>
            <a  href="https://www.instagram.com/rodolfo_rondonp/" class = "efecto_mouse"><img src="../../../assets/logos_header/instagram.png" height="40px" class = "redesSociales"></a>
            <a  href="https://twitter.com/RONDONjrp" class = "efecto_mouse"><img src="../../../assets/logos_header/twitter.png" height="40px" class = "redesSociales"></a>
            <a  href="https://github.com/rondonjr3" class = "efecto_mouse"><img src="../../../assets/logos_header/github.png" height="40px" class = "redesSociales"></a>
            <a  href="https://www.linkedin.com/in/jesus-rodolfo-rondon-parra-21729957/" class = "efecto_mouse"><img src="../../../assets/logos_header/linkedin.png" height="40px" class = "redesSociales"></a>
            <h1><a href="/login" *ngIf = "!isLogged"><i class="bi bi-door-closed"></i></a></h1>
            <h1><a href="" (click) = "onLogOut()" *ngIf = "isLogged"><i class="bi bi-door-open"></i></a></h1>

            <h1 class = "boton-costado"><a class = "efecto_mouse" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-list"></i></a></h1>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">Informacion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        
                            <a class="dropdown-item" href="#acerca">Acerca de</a>
                            <a class="dropdown-item" href="#estudios">Educacion</a>
                            <a class="dropdown-item" href="#experiencia">Formacion profesional</a>
                            <a class="dropdown-item" href="#skill">Habilidades</a>
                            <a class="dropdown-item" href="#proyecto">Proyectos</a>
                            <hr class="dropdown-divider">
                    </div>
                </div>

        </div>


        <div class="collapse navbar-collapse">
            <ul >
            
            </ul>
        </div>
    </div>
</nav>


