
<div class = "fondo">
    <div class="section" id="proyecto">
      <div class="container">
        <div class="h4 text-center mb-4 title">Proyectos</div>
        
        <div class="row row-cols-1 row-cols-md-3 g-4" data-aos="fade-in">
            <div class="col" *ngFor = "let Proyecto of proyecto">
              <div class="card h-100">
                <img [src]= "Proyecto.imagen" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{Proyecto.nombreP}}</h5>
                  <p class="card-text">{{Proyecto.descripcionP}}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a [href]="Proyecto.linkP">Link al proyecto</a></small>
                </div>
                <div class = "row">
                  <div class="col-lg-2" *ngIf = "isLogged"> 
                    <button class = "btn btn-warning" routerLink = "/editpro//{{Proyecto.id}}"><i class="bi bi-pencil-fill"></i></button>        
                  </div>
                  <div class="col-lg-2" *ngIf = "isLogged"> 
                    <button class="btn btn-danger" (click) = "delete(Proyecto.id)"><i class="bi bi-x-lg"></i></button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class = "row">
              <p></p>
              <button type ="button" class="btn btn-secondary col-lg-1" routerLink = "/nuevopro" *ngIf = "isLogged" style="width: 100px; height: 50px; margin-left: 11px; margin-bottom: 20px;"><h3><i class="bi bi-plus-circle"></i></h3></button>
            </div>
            
          </div>

        </div>
    </div>
</div>

