<div class = "app-banner">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-caption">
                        <h1 class="page-title">¡Bienvenido a mi portfolio!</h1>
                        <h1 class="page-title" *ngIf = "!isLogged"><a href="/login" type="button" class="btn btn-dark" >Iniciar Sesion</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    
    <div class="card-section">
        <div class="container">
            <div class = "row">
                <div class = "col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">

                </div>
                <div class="card-block bg-white mb50 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <!-- section-title -->
                            <div class="section-title mb-0">
                                <div class = "row align-items-center">
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 text-center">
                                        <img [src]="persona.img" class="imgRedonda img-fluid">
                                        
                                    </div>
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 text-center">
                                        <h2 class = "texto">{{persona.nombre}} {{persona.apellido}}</h2>
                                        <p></p>
                                        <div class="col-lg-1" *ngIf = "isLogged"> 
                                            <button class = "btn btn-warning" routerLink = "/editper//{{persona.id}}"><i class="bi bi-pencil-fill"></i></button>        
                                        </div>
                                        <a type="button" href="#acerca" class="btn btn-outline-secondary">About me</a>
                                    </div>
                                </div>
                               
                            </div>
                            <!-- /.section-title -->
                        </div>
                    </div>
                </div>

            </div>

            </div>
            </div>
</div>



