<!--
<div class = "container">
    <div class = "row">
        <div>
            <form (ngSubmit) = "onCreate()" novalidate #f = "ngForm">
                <div class="form-group">
                    <label for="nombreH">Nombre habilidad</label>
                    <input type="text" class="form-control" id="nombreH" name = "nombreH" [(ngModel)] = "nombreH" required>
                </div>
                <div class="form-group">
                    <label for="porcentajeH">Porcentaje habilidad</label>
                    <input type="text" class="form-control" id="porcentajeH" name = "porcentajeH" [(ngModel)] = "porcentajeH" required>
                </div>
                <button class = "btn btn-primary">Agregar habilidad</button>
            </form>
        </div>

    </div>
</div>
-->
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-12 col-lg-12 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                    <div class = "container">
                        
                            <div>
                                <form (ngSubmit) = "onCreate()" novalidate #f = "ngForm">
                                    <div class="form-group">
                                        <label for="nombreH">Nombre habilidad</label>
                                        <input type="text" class="form-control" id="nombreH" name = "nombreH" [(ngModel)] = "nombreH" required>
                                    </div>
                                    <p></p>
                                    <div class="form-group">
                                        <label for="porcentajeH">Porcentaje habilidad (solo numero)</label>
                                        <input type="text" class="form-control" id="porcentajeH" name = "porcentajeH" [(ngModel)] = "porcentajeH" required>
                                    </div>
                                    <p></p>
                                    <button class = "btn btn-primary">Agregar habilidad</button>
                                    <button type ="button" class="btn btn-primary" routerLink = "/" style="margin-left: 10px;">Voler</button>
                                </form>
                            </div>
                    
                        
                    </div>
  
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>